.about {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #0a223d;
  background-color: #f1f6fd;
}

.about__text {
  margin: 0 0 20px 0;
  font-family: 'Xanh Mono', monospace;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #59115b;
  font-style: italic;
}

.about__text-block {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .about__text {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .about__text {
    font-size: 18px;
    line-height: 25px;
  }
}