.about {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #0a223d;
  background-color: #f1f6fd;
}

.about__text {
  margin: 0 0 25px 0;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}