.castles-block__teaser {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin-bottom: 35px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), url(../assets/img/castles/castles-block.jpg);
  background-position: center;
  background-size: cover;
}

.castles-block__teaser-container {
  display: flex;
  flex-wrap: wrap;
}

.castles-block__content {
  padding-bottom: 50px;
}

.castles-block__title {
  width: 100%;
  padding-top: 280px;
  margin: 0 0 70px 0;
  color: #fff;
  font-family: "Spectral SC", "Arial", sans-serif;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.castles-block__teaser p {
  position: relative;
  width: 80%;
  margin: 0 0 44px;
  padding: 0 0 0 92px;
  font-size: 34px;
  line-height: 38px;
  text-transform: none;
  text-align: left;
  color: #fff;
}

.castles-block__teaser p::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 2px;
  background-color: #fff;
  top: 17px;
  left: -2px;
}

.castles-block__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.castles-block__list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.castles-block__link {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #7db6f7;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 20px 0px;
  width: 250px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s linear 0s;
}

.castles-block__link::before {
  content: "";
  font-family: FontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: #7db6f7;
  color: #fff;
  border-radius: 0 50% 50% 0;
  transform: scale(0, 1);
  transform-origin: left center;
  transition: all 0.2s linear 0s;
}

.castles-block__link:hover {
  color: #180364;
  background-color: #fff;
}

.castles-block__link:hover::before {
  transform: scale(1, 1);
  text-indent: 0;
}

.castles-block__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.castles-block__img {
  width: 40%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.castles-block__img--last {
  margin-left: auto;
}

.castles-block__img--full {
  width: 100%;
}

.castles-block__img img {
  width: 100%;
  height: auto;
}

.castles-block__text {
  width: 50%;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #0a223d;
}

.castles-block__text:first-letter {
  font-size: 200%;
  color: rgb(45, 8, 148); 
 }

.castles-block__info {
  position: relative;
  width: 40%;
  margin: 0 0 20px auto;
  padding: 20px 20px 0 20px;
  box-shadow:
   -20px 20px 0 -17px #fff,
   20px -20px 0 -17px #fff,
   20px 20px 0 -20px #7db6f7,
   0 0 0 2px #7db6f7;
}

.castles-block__info-address, 
.castles-block__info-tell {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.castles-block__info-address i, 
.castles-block__info-tell i {
  margin-right: 20px;
  font-size: 25px;
  color: #0b3361;
}

.castles-block__info-tell a:focus,
.castles-block__info-tell a:hover {
  color: #0b3361;
}

@media (max-width: 1023px) {
  .castles-block__title {
    padding-top: 150px;
  }

  .castles-block__img {
    width: 100%;
    margin-bottom: 10px;
  }

  .castles-block__text { 
    width: 100%;
    padding: 15px 0;
  }

  .castles-block__info {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .castles-block__title {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }

  .castles-block__teaser p {
    width: 100%;
    padding-left: 45px;
    font-size: 16px;
    line-height: 25px;
  }

  .castles-block__teaser p::before {
    width: 32px;
    left: 4px;
  }

  .castles-block__teaser {
    min-height: 350px;
  }

  .castles-block__content {
    padding-bottom: 15px;
  }

  .castles-block__list {
    justify-content: center;
  }

  /* .castles-block__list li {
    margin-right: 0;
  } */

  .castles-block__item {
    margin-bottom: 20px;
  }

  .castles-block__text {
    font-size: 16px;
    line-height: 20px;
  }
}