.castles__title {
  position: relative;
  width: 100%;
  margin: 0 0 50px 0;
  padding-bottom: 20px;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0b3361;
}

.castles__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12%;
  height: 2px;
  background-color: #7db6f7;
} 

.castles__title--subtitle {
  margin-bottom: 25px;
  padding: 0;
  text-transform: none;
  text-align: center;
  color: #0f0771;
}

.castles__title--subtitle::after {
  display: none;
}

@media (max-width: 767px) {
  .castles__title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 35px;
  }
}