.castles-block__teaser {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.castles-block__teaser img {
  width: 100%;
  height: auto;
}

.castles-block__content {
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

.castles-block__title {
  position: absolute;
  bottom: 10%;
  left: 10%;
  margin: 0;
  color: #fff;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
}
 
.castles-block__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.castles-block__img {
  width: 40%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.castles-block__img--last {
  margin-left: auto;
}

.castles-block__img img {
  width: 100%;
  height: auto;
}

.castles-block__text {
  width: 50%;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #0a223d;
}

.castles-block__text:first-letter {
  font-size: 200%;
  color: rgb(45, 8, 148); 
 }

.castles-block__info {
  position: relative;
  width: 40%;
  margin: 0 0 20px auto;
  padding: 20px 20px 0 20px;
  box-shadow:
   -20px 20px 0 -17px #fff,
   20px -20px 0 -17px #fff,
   20px 20px 0 -20px #7db6f7,
   0 0 0 2px #7db6f7;
}

.castles-block__info-address, 
.castles-block__info-tell {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.castles-block__info-address i, 
.castles-block__info-tell i {
  margin-right: 20px;
  font-size: 25px;
  color: #0b3361;
}

.castles-block__info-tell a:focus,
.castles-block__info-tell a:hover {
  color: #0b3361;
}

@media (max-width: 1023px) {
  .castles-block__img {
    width: 100%;
    margin-bottom: 10px;
  }

  .castles-block__text { 
    width: 100%;
    padding: 15px 0;
  }

  .castles-block__info {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .castles-block__title {
    top: 3%;
    left: 5%;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .castles-block__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .castles-block__item {
    margin-bottom: 20px;
  }

  .castles-block__text {
    font-size: 16px;
    line-height: 20px;
  }
}