.facts-block {
  background-color: #f1f6fd;
}

.facts {
  padding-top: 50px;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.facts__title {
  margin: 0 0 50px 0;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0c488e;
}

.facts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.facts__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-bottom: 35px;
  background-color: #7db6f7;
  padding: 30px 10px;
  border-radius: 20px 15px;
  z-index: 0;
}

.facts__item i {
  margin-bottom: 20px;
  font-size: 50px;
  color: #fff;
}

.facts__text {
  margin: 0;
  padding: 0;
  width: 100%;
}

.facts a {
  color: #fff;
  transition: all .3s ease;
}

.facts a:focus,
.facts a:hover {
  opacity: 0.6;
  transition: all .3s ease;
}

.facts__dfn {
  background: rgba(86, 142, 230, 0.2);
  border-bottom: dashed 1px rgba(30, 33, 189, 0.8);
  cursor: help;
  font-style: normal;
  position: relative;
  
}
.facts__dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; 
  right: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(23, 37, 91, 0.8);
  color: #fff;
  pointer-events: none; 
  transition: opacity 250ms, top 250ms;
  z-index: 2;
}
.facts__dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; 
  right: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(23, 37, 91, 0.8);
  transition: opacity 250ms, top 250ms;
  z-index: 2;
}
.facts__dfn:hover {
  z-index: 3;
}

.facts__dfn:hover::after,
.facts__dfn:hover::before {
  opacity: 1;
}

.facts__dfn:hover::after {
  top: 30px;
}

.facts__dfn:hover::before {
  top: 20px;
}

@media (max-width: 1023px) {
  .facts__item {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .facts {
    padding-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .facts__title {
    margin: 0 0 20px 0;
    font-size: 25px;
  }

  .facts__item i {
    font-size: 30px;
  }

  .facts__title {
    font-size: 25px;
    line-height: 35px;
  }

  .facts__dfn::after {
    width: 200px;
    font-size: 12px;
  }
}