.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7db6f7;
}

.navigation {
  display: flex;
 /* justify-content: space-between; */
}

/* .navigation__logo {
    margin-top: 10px;
    margin-left: 10px;
} */

.navigation__links {
  display: flex;
  /* justify-content: end;
  align-content: center; */
  align-items: center;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.navigation__links li {
    margin-left: 20px;
    /* padding-right: 20px; */
    /* list-style: none; */
    
}
.navigation__links li a {
    text-decoration: none;
    /* font-size: 1.5rem;
    font-weight: 900; */
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}
.navigation__links li a:hover{
    color: #14084d;
    /* border-radius: 10px; */
    transition: all .7s;
    /* background-color: #d72c16; */
}

.map{
    padding: 10px;
}

#menu__toggle {
    opacity: 0;
}

.hamburger-menu {
  margin-left: auto;
}


/* hamburger menu */


@media (max-width: 600px) {
  
  #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;                                    /*left 0*/
  }
    
  .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      /* top: 50px;                                  20 */
      right: 30px;                                /*left*/
    
      width: 26px;
      height: 26px;
    
      cursor: pointer;
      z-index: 1;
  }
    
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
      display: block;
      position: absolute;
    
      width: 100%;
      height: 2px;
    
      background-color: #616161;
    
      transition-duration: .35s;
  }
  .menu__btn > span::before {
      content: '';
      top: -8px;
  }
  .menu__btn > span::after {
      content: '';
      top: 8px;
  }
    
  .navigation__links{
    display: none;
  } 

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 100%;  /* 300 px*/
    /* height: 100%; */
    opacity: 1;
    text-align: center;
  
    margin: 0;
    padding: 40px 0 40px;
  
    list-style: none;
  
    background-color: #7db6f7; /*#ECEFF1;*/
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
}
  
.menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #fff;
  
    font-size: 16px;
    font-weight: 500;
  
    text-decoration: none;
  
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

label.menu__btn{
      display: none;
}
label.menu__btn{
    display: block;
  }

  a.menu__item {
    color: blue;
  }

}

