.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #7db6f7;
}

.navigation {
    display: flex;
    /* justify-content: space-between; */
}

/* .navigation__logo {
    margin-top: 10px;
    margin-left: 10px;
} */

.navigation__links {
    display: flex;
    /* justify-content: end;
    align-content: center; */
    align-items: center;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.navigation__links li {
    margin-left: 20px;
    /* padding-right: 20px; */
    /* list-style: none; */
}
.navigation__links li a {
    text-decoration: none;
    /* font-size: 1.5rem;
    font-weight: 900; */
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #14084d;
    padding: 10px;
}
.navigation__links li a:hover{
    color: #Ec1f46;
    /* border-radius: 10px; */
    transition: all .7s;
    /* background-color: #d72c16; */
}




