
.body {
    box-sizing: border-box;
    
}


.header {
    height: 140px;
    background-color: #c0b2b5;
    background-image: url('/img/header/bg-img3.png');
    background-repeat-y: no-repeat;
}

.navigation {
    display: flex;
    justify-content: space-between;
}
.navigation__logo{
    margin-top: 10px;
    margin-left: 10px;
}

.navigation__links {
    display: flex;
    justify-content: end;
    align-content: center;
    align-items: center;
}

.navigation__links li {
    margin-left: 20px;
    padding-right: 20px;
    list-style: none;
}
.navigation__links li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
    padding: 10px;
}
.navigation__links li a:hover{
    border-radius: 10px;
    transition: all .7s;
    background-color: #d72c16;
}



