/* @keyframes color {
  50% {
    color:#3f83d1;
  }
  100% {
    color: #13043d;
  }
} */

.intro {
  padding-top: 25px;
  padding-bottom: 25px;
}

.intro__title {
  position: relative;
  width: 100%;
  margin: 0 0 25px 0;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  color: #3b0866;
}

.intro__title:before {
  content: "";
  border-bottom: 1px solid #7db6f7;
  border-top: 1px solid #7db6f7;
  width: 40px;
  height: 0.1em;
  position: absolute;
  top: 50%;
  margin-left: -50px;
}

.intro__title:after {
  content: "";
  border-bottom: 1px solid #7db6f7;
  border-top: 1px solid #7db6f7;
  width: 40px;
  height: 0.1em;
  position: absolute;
  top: 50%;
  margin-left: 10px;
}

.intro__text {
  width: 100%;
  margin: 0 0 20px 0;
  font-family: 'Xanh Mono', monospace;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color:#3f83d1;
  font-style: italic;
}

.intro__text-wave {
  font-size: 22px;
  line-height: 30px;
  font-style: italic;
  color:#3f83d1;
}

.intro__text-block {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1023px) {
  .intro__title {
    font-size: 25px;
    line-height: 30px;
  }

  .intro__text {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  .intro__text {
    font-size: 18px;
    line-height: 25px;
  }

  .intro__text-wave {
    font-size: 18px;
    line-height: 25px;
  }
  
  .intro__text-block {
    width: 100%;
  }

  .intro__title:before, .intro__title:after {
    display: none;
  }
}