.legend {
  padding-top: 20px;
  border-top: 1px solid #0b3361;
}

.legend__title {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  font-size: 28px;
  line-height: 32px;
  color: #0b3361;
}

.legend__content--closed {
  display: none;
}

.legend__content--opened {
  display: block;
}

.legend__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: #7db6f7;
} 

.legend__button {
  width: 350px;
  margin-bottom: 20px;
}

.legend__img {
  margin-bottom: 20px;
}

.legend__img img {
  width: 100%;
  height: auto;
}

.legend__text-block {
  box-sizing: border-box;
}

.legend__text {
  margin: 0 0 15px 0;
  font-size: 20px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .legend__text {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .legend__title {
    font-size: 22px;
    line-height: 28px;
  }

  .legend__button {
    width: 100%;
  }
}