@import './global.css';
@import './button.css';
@import './header.css';
@import './teasers.css';
@import './footer.css';
@import './now.css';
@import './nature.css';
@import './about.css';
@import './facts.css';
@import './preview.css';
@import './subscribe.css';
@import './success.css';
@import './castles.css';
@import './castles-block.css';
<<<<<<< HEAD
@import './mir-castle.css';
@import './legend.css';
@import './story.css';
@import './gpw.css';
@import './quotes-of-great-man.css';
=======
@import './nesvizh.css';
@import './mir.css';
>>>>>>> 881aa3abd46ee63d060168b9cb1c10a824d2552d
