*{
    font-size: 16px;
}
h2{
    font-size: 40px;
    line-height: 40px;
}
h3{
    font-size: 27px;
    line-height: 30px;
}

.swamp__cards{
    display: flex;
    justify-content: space-between;
    max-width: 100wh;
}
.swamp__text-title{
padding: 15px 25px;

}
.swamp__text-text{
    /* 
    align-items: stretch; */
}


.swamp__img img{
    max-width: 40vw;
    margin: 0  15px 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.swamp__img order{
order: inherit;
}

.nature__links {
    color: #30b91d;
    transition: all .3s ease;
  }

.nature__links:focus,
.nature__links:hover {
    opacity: 0.6;
    transition: all .3s ease;
}


@media (max-width: 1100px) {
    .swamp__img img{
        max-width: 80vw; 
        /* padding: 0  15px 15px; */
        margin: 30px auto;
    } 
    .swamp__cards{
        display: block;
        
    }
    
}


@media (max-width: 767px) {
    .swamp__img img{
        max-width: 90vw;
        /* padding: 10px 0; */
        margin: 20px auto; 
        

    }
    swamp__text-title {
        padding: 15px 0px;
    }
    
}












