.nesvizh-block {
  background-color: #d9ebf7;
}

.nesvizh-block__content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nesvizh-block__title {
  position: relative;
  margin: 0 0 50px 0;
  padding-bottom: 20px;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  color: #0b3361;
}

.nesvizh-block__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12%;
  height: 2px;
  background-color: #7db6f7;
} 

.nesvizh-block__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.nesvizh-block__img {
  width: 40%;
}

.nesvizh-block__img img {
  width: 100%;
  height: auto;
}

.nesvizh-block__text {
  width: 60%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 15px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #0a223d;
}

@media (max-width: 1023px) {
  .nesvizh-block__img {
    width: 100%;
  }

  .nesvizh-block__text { 
    width: 100%;
    padding: 15px 0;
  }
}

@media (max-width: 767px) {
  .nesvizh-block__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nesvizh-block__item {
    margin-bottom: 20px;
  }

  .nesvizh-block__text {
    font-size: 16px;
    line-height: 20px;
  }

  .nesvizh-block__title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 35px;
  }
}