.nesvizh {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

.nesvizh__title {
  text-transform: none;
  color: #6b1ba2;
}

.nesvizh__title::after {
  display: none;
}

.nesvizh__list {
  margin: 0;
  padding: 0;
  list-style: none;
}