.preview {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f1f6fd;
}

.preview__title {
  margin: 0 0 50px 0;
  font-family: "Spectral SC", "Arial", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #0b3361;
  text-align: center;
  text-transform: uppercase;
}

.preview__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.5%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.preview__item {
  margin-bottom: 30px;
}

.preview__item-title {
  position: absolute;
  z-index: 1;
  width: 85%;
  margin: 0;
  padding: 0;
  bottom: 10%;
  left: 5%;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-family: "Spectral SC", "Arial", sans-serif;
  font-size: 30px;
  line-height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__link {
  width: 100%;
  margin-bottom: 20px;
}

.preview__img-wrapper {
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.preview__img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background: linear-gradient(180deg,#000 0%,transparent 100%);
  transform: matrix(1,0,0,-1,0,0);
  opacity: .6;
}

.preview__img {
  width: 100%;
  object-fit: cover;
}

.preview__item-wrapp {
  position: relative;
  background-color: #FDFDFD;
  background-image: radial-gradient(#CADAD9 2px, transparent 2px);
  background-size: 6px 6px;
}

.preview__item-wrapp::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: white;
  transition: .3s;
}

.preview__line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 12px 0 0 12px;
  opacity: 0;
  transition: .3s;
}

.preview__line::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  width: 7px;
  height: 7px;
  margin: 0 0 0 -2px;
  background: #032347;
  border-radius: 50%;
  z-index: 3;
}

.preview__line::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 1px;
  left: calc(50% + 1px);
  height: 50px;
  top: 100%;
  bottom: 0;
  margin-top: 13px;
  transform: scaleY(-1);
  background: linear-gradient(to bottom, rgba(252, 71, 62, 0) 0%, rgb(71, 63, 92) 100%);
}

.preview__line-link {
  text-decoration: none;
  display: block;
  color: #0c488e;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  z-index: 5;
}

.preview__item:hover .preview__item-wrapp::after {
  opacity: .7;
  top: 12px;
  left: 12px;
  right: -12px;
  bottom: -12px;
}

.preview__item:hover .preview__img-wrapper {
  transform: translate(12px, 12px);
}

.preview__item:hover .preview__line {
  opacity: 1;
}

@media (max-width: 1023px) {
  .preview {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .preview__list {
    display: flex;
    flex-wrap: wrap;
  }

  .preview__item {
    width: 100%;
  }

  .preview__item:hover .preview__item-wrapp::after {
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .preview__item:hover .preview__img-wrapper {
    transform: none;
  }
  
  .preview__item:hover .preview__line {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .preview__title {
    margin: 0 0 20px 0;
    font-size: 25px;
    line-height: 35px;
  }

  .preview__item-title {
    font-size: 22px;
    line-height: 25px;
  }
}