.preview {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f1f6fd;
}

.preview__title {
  margin: 0 0 50px 0;
  font-size: 35px;
  line-height: 40px;
  color: #0d5512;
  text-align: center;
  text-transform: uppercase;
}

.preview__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.5%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.preview__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.preview__link {
  position: relative;
}

.preview__item-title {
  position: absolute;
  z-index: 1;
  width: 85%;
  margin: 0;
  padding: 0;
  bottom: 10%;
  left: 5%;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-size: 24px;
  line-height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview__link {
  width: 100%;
  margin-bottom: 20px;
}

.preview__link:focus .preview__item-title,
.preview__link:hover .preview__item-title { 
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,.3);
  color: #36e3f7;
}

.preview__img-wrapper {
  position: relative;
}

.preview__img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background: linear-gradient(180deg,#000 0%,transparent 100%);
  transform: matrix(1,0,0,-1,0,0);
  opacity: .6;
}

.preview__img {
  width: 100%;
  object-fit: cover;
}

.preview__button {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #04640c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all .6s ease;
}

.preview__button:focus,
.preview__button:hover {
  background-color: #042b07;
  transition: all .6s ease;
}

@media (max-width: 767px) {
  .preview {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .preview__title {
    margin: 0 0 20px 0;
    font-size: 25px;
    line-height: 35px;
  }

  .preview__list {
    display: flex;
    flex-wrap: wrap;
  }

  .preview__item {
    width: 100%;
  }

  .preview__item-title {
    font-size: 22px;
    line-height: 25px;
  }
}
