.teasers {
  background-color: #f1f6fd;
}

.teasers .swiper-container {
  margin-bottom: 0;
}

.teasers .swiper-container {
  padding-bottom: 20px;
}

.teasers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.teasers__img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .teasers__list  {
    margin-bottom: 15px;
  }
}