.teasers {
  background-color: #f1f6fd;
}

.teasers .swiper-container {
  margin-bottom: 0;
}

.teasers .swiper-container {
  padding-bottom: 20px;
}

.teasers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.teasers__item {
  position: relative;
}

.teasers__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background: linear-gradient(180deg,#000 0%,transparent 100%);
  transform: matrix(1,0,0,-1,0,0);
  opacity: .6;
}

.teasers__img {
  width: 100%;
  height: auto;
}

.teasers__item-text {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 20px;
  width: 90%;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  transition: all 0.3s;
}

.teasers__item-text b {
  display: inline-block;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 45px;
  line-height: 55px;
  text-align: right;
}

.teasers__item-text a {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 300px;
  font-size: 20px;
  line-height: 20px;
  box-shadow: none;
}

@media (max-width: 1023px) {
  .teasers__item-text  b {
    font-size: 32px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .teasers__list  {
    margin-bottom: 15px;
  }

  .teasers__item {
    display: flex;
    flex-direction: column;
    min-height: 320px;
  }

  .teasers__item-text {
    order: 2;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
    position: static;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .teasers__item-text b {
    position: static;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    padding-top: 10px;
  }

  .teasers__item-text a {
    position: static;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
  }
}