.teasers {
  padding-top: 50px;
}

.teasers .swiper-container {
  padding-bottom: 20px;
}

.teasers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.teasers__title {
  margin: 0 0 50px 0;
  font-size: 35px;
  line-height: 40px;
  color: #a10115;
  text-align: center;
  text-transform: uppercase;
}

.teasers__text {
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #0b1277;
}

.teasers__img {
  width: 100%;
  height: auto;
}